
* {
    padding: 0;
    margin: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    color: #2d2d2d;
}

.cabeza{
    background-color: #3c8fd3;
    max-height: 100px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.title, .subtitle{
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px;
}

.card-body{
    background: #fff;
    max-width: 600px;
    max-height: 800px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    padding: 10px;
    border-radius: 10px;
}

.pie{
    text-align: center;
}

footer {
    background-color: #3c8fd3;
    max-height: 90px;
    min-height: 50px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.title_1, .title_2, .title_3{
    margin: 15px;
}

p, ul {
    margin: 5px;
}